<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.vlazic.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    document.addEventListener("DOMContentLoaded", function(event) {
    var audioTags = document.getElementsByTagName("audio");

    for (var index = 0; index < audioTags.length; ++index) {
        var audioTag = audioTags[index];
        audioTag.addEventListener("playing", function() {
            _paq.push(['trackEvent', 'Player', 'Play', this.dataset.audioTitle, fancyTimeFormat(this.currentTime)]);
        }, true);
        audioTag.addEventListener("pause", function() {
            _paq.push(['trackEvent', 'Player', 'Pause', this.dataset.audioTitle, fancyTimeFormat(this.currentTime)]);
        }, true);
    }
    function fancyTimeFormat(duration){   
        // Hours, minutes and seconds
        var hrs = ~~(duration / 3600);
        var mins = ~~((duration % 3600) / 60);
        var secs = ~~duration % 60;

        // Output like "1:01" or "4:03:59" or "123:03:59"
        var ret = "";

        if (hrs > 0) {
            ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
        }

        ret += "" + mins + ":" + (secs < 10 ? "0" : "");
        ret += "" + secs;
        return ret;
    }
});
  </script>
  <noscript><p><img src="//stats.vlazic.com/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->